<h1>Choose Your Difficulty</h1>
<%= link_to "Easy", easy_game_path, class: "btn btn-outline-success" %>
<%= link_to "Medium", medium_game_path, class: "btn btn-outline-warning" %>
<%= link_to "Hard", hard_game_path, class: "btn btn-outline-danger" %>
